body
{
	margin:0px;
	padding:0px;
}
*
{
	color: white;
	font-family: Monaco
}
a
{
	font-size: 30px;
}
*
{
	text-align: justify;
}
.ole
{
	float: right;
}
body
{
	background-color: rgb(34,54,126);
	background-attachment: fixed;
}
.haut
{
	text-decoration: rgb(34,54,146);
}
.haut,.ole
{
	border: 5px white inset;
	border-radius: 15px;
	box-shadow: 6px 6px 6px black;
	background-color: #CCC;
	text-shadow: 6px 6px 6px black;
}
.haut
{
	width: 99%;
}
.mise
{
	border: 5px white inset;
	border-radius: 15px;
	box-shadow: 6px 6px 6px black;
	text-shadow: 6px 6px 6px black;
	margin: 30px;
}
.mail
{
	font-size: 14px;
	margin:2px auto;
	width:20%;
	padding:2px;
}
.bas
{
	font-size: 9px;
	margin:2px auto;
	width:50%;
	padding:2px;
}
